[Unit]
Description=Pladder Bot Web API

[Service]
Type=notify
ExecStart=%h/.cache/pladder-venv/bin/gunicorn --access-logfile=- -b localhost:5003 pladder.web.api:app
SyslogIdentifier=pladder-web

[Install]
WantedBy=default.target
