[Unit]
Description=Pladder Bot Upgrader

[Service]
Type=notify
Environment="PYTHONUNBUFFERED=1"
ExecStart=%h/.cache/pladder-venv/bin/pladder-upgrade
SyslogIdentifier=pladder-upgrade

[Install]
WantedBy=default.target
