[Unit]
Description=Pladder Bot IRC Connector for %I
Wants=pladder-bot.service

[Service]
Type=notify
ExecStart=/usr/bin/python3 -u -m pladder.irc --systemd --dbus --config=%I
Restart=always
RestartSec=15min
StartLimitInterval=4h
StartLimitBurst=16
WatchdogSec=30min
SyslogIdentifier=pladder-irc-%I

[Install]
WantedBy=default.target
