[Unit]
Description=Pladder Bot Core

[Service]
Type=dbus
BusName=se.raek.PladderBot
Environment="PYTHONUNBUFFERED=1"
ExecStart=%h/.cache/pladder-venv/bin/pladder-bot
Restart=on-failure
SyslogIdentifier=pladder-bot

[Install]
WantedBy=default.target
